# dependencies
node_modules
/.pnp
.pnp.*
.yarn/*
!.yarn/patches
!.yarn/plugins
!.yarn/releases
!.yarn/versions

# testing
/coverage
tests/e2e/screenshots/
playwright-report/

# next.js
.next/
out/

# production
/build

# misc
.DS_Store
*.pem

# debug
npm-debug.log*
yarn-debug.log*
yarn-error.log*
.pnpm-debug.log*

# env files
.env*

# vercel
.vercel
.vercel-hmg

# typescript
*.tsbuildinfo
next-env.d.ts

# storybook
storybook-static

# turbo
.turbo

# test results
test-results/
